.App-header {
 padding:1.2em;
 display:flex;
 border-bottom: 4px solid red;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color:rgb(248, 16, 16);
}

.App-header img {
  width: 250px;
  height: 250px;
}